body {
    font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
    padding: 5px 2%;
}

h1, h2, h3, h4, h5, th {
    // headers
    color: #35495e;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    font-weight: normal;
}

p {
    margin-top: 0.3em;
    margin-bottom: 0.1em;
}

a, a * {
    color: #00c58e;
    text-decoration: none;

    &:hover {
        color: #c58e00;
    }
}

time {
    opacity: .5;
    font-size: 85%;
}

table.features {
    // both in comparison and in single antagonist

    margin: 0 auto;
    border-collapse: collapse;

    tbody th {
        text-align: right;
    }

    th, td {
        padding: 3px 10px;
    }

    td {
        border: solid 1px #00c58e;
    }
}