body {
    font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
    padding: 5px 2%;
}

h1, h2, h3, h4, h5, th {
    // headers
    color: #35495e;
    margin-top: 1.0em;
    margin-bottom: 0.5em;
    font-weight: normal;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1em; }
h5 { font-size: 0.8em; }

p {
    margin-top: 0.4em;
    margin-bottom: 0.2em;
}

a, a * {
    color: #00c58e;
    text-decoration: none;

    &:hover {
        color: #c58e00;
    }
}

time {
    opacity: .5;
    font-size: 85%;
}

.description {
    margin: 1.0em 10%;
    font-size: 115%;
    color: #62788e;
}

table.features {
    // both in comparison and in single antagonist

    margin: 0 auto;
    border-collapse: collapse;

    tbody th {
        text-align: right;
    }

    th, td {
        padding: 3px 10px;
    }

    td {
        border: solid 1px #00c58e;
    }
}